{% load static %}

{% load crispy_forms_tags %}

<html>

    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> House Hunt | Update Notes </title>

    </head>

    {% include 'profile/base.html' %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h1> Update Status </h1>

        <hr>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{ form.room_notes|as_crispy_field }}

            <br>

            {{ form.bathroom_notes|as_crispy_field }}

            <br>

            {{ form.kitchen_notes|as_crispy_field }}

            <br>

            {{ form.dog_notes|as_crispy_field }}

            <br>

            {{ form.parking_notes|as_crispy_field }}

            <br>

            {{ form.storage_bool|as_crispy_field }}

            <br>

            {{ form.outdoor_bool|as_crispy_field }}

            <br>

            {{ form.outdoor_name|as_crispy_field }}

            <br>

            {{ form.outdoor_notes|as_crispy_field }}

            <br>

            <input class="btn btn-primary navbar-btn" type="submit" value="Submit Changes" />

            <br>

        </form>

        <a class="btn btn-outline-primary" type="button" href="{% url 'read-house' form.instance.pk %}"> Go back to the house </a>

    </div>