{% load static %}

{% load crispy_forms_tags %}

<html>

    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> House Hunt | Update a House </title>

    </head>

    {% include 'profile/base.html' %}

    <br>

    <br>

    <h1 class="text-center"> Update a House </h1>

    <hr>

    <div class="container bg-white shadow-md p-5 form-layout" style="margin-top:20px;">
    
        <h1> {{form.address}} </h1>

        <br>

        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{ form.address|as_crispy_field}}

            <br>

            {{ form.neighborhood|as_crispy_field }}
            
            <br>

            {{ form.web_address|as_crispy_field}}

            <br>

            {{ form.price|as_crispy_field}}

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            
            {{ form.beds|as_crispy_field}}

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            {{ form.bathrooms|as_crispy_field}}

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            {{ form.sq_footage|as_crispy_field}}


            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            {{ form.type_of_home|as_crispy_field}}

            <br> <br>

            <input class="btn btn-outline-primary navbar-btn" type="submit" value="Save Changes"/>

        </form>

        <a class="btn btn-outline-primary" type="button" href="{% url 'read-house' form.instance.pk %}"> Go back to the house </a>
    
    </div>

</html>