{% load static %}

<html>

    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" vontent="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> House Hunt | Homepage </title>

    </head>

    {% include 'profile/base.html' %}

    <br>
    
    <div class="container bg-white shadow-md p-5 form-layout">
        
        <br>

        <h1> Dashboard </h1>

        <br>

        <h2> Home </h2>

        <hr>

        <p> Welcome to House Hunt - <br> Where you can compare homes to find the one of your dreams </p>


    </div>

    <br>

</html>