<div class="container bg-white shadow-md p-5 form-layout" style="margin-top:20px;">

<div class="container bg-white shadow-md p-5" style="margin-top:15px;">

markers=3400+Civic+Center+Blvd,Philadelphia,PA&

<div class="image_container"> <img src="{% static 'images/neighborhoods.png' %}" alt="Philly Neighborhoods"/> </div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=39.940946,-75.179623&zoom=13&size=600x600&key=AIzaSyD6TEGiGHpX80TkzkP5VIKlyPl0lWFNo7k"/ > </div>

<!--

House

-->